@{
    ViewData["Title"] = "ViewCampaignByExecutive";
    Layout = "~/Views/AdminHome/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "http://localhost:25733/api/Admin/Reports/CampaignByExecutive",
                headers: {
                                Authorization: 'Bearer ' + sessionStorage.getItem("JWT")
                            },
            dataType: 'json',
            success: function (response) {
                $.each(response, function (i, item) {            
                    const startedOn = new Date(Date.parse(item.startedOn));
                    const endedOn = new Date(Date.parse(item.completedOn));
                    
                    const options = { day: 'numeric', month: 'long', year: 'numeric' }
                    
                    let isOpen = item.isOpen === true?"Open":"Closed";
                    
                    let row = '<tr><td class="campaignID">'
                        + item.campaignID + '</td><td>'
                        + item.name + '</td><td>'
                        + item.venue + '</td><td>'
                        + item.assignedTo + '</td><td>'
                        + startedOn.toLocaleDateString('en-IN', options) + '</td><td>'
                        + endedOn.toLocaleDateString('en-IN', options) + '</td><td>'
                        + isOpen + '</td></tr>'
                    $('#campaignTable').append(row);
                });
            }
        })
    });
</script>

<h1>List of Campaigns by Executive</h1>
<div class="alert alert-dismissible alert-info">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Click</strong> any Campaign to view it!
</div>
<table class="table table-hover" id="campaignTable">
    <thead>
    <tr>
        <th scope="col">Campaign ID</th>
        <th scope="col">Campaign Name</th>
        <th scope="col">Venue</th>
        <th scope="col">Executive ID Assigned</th>
        <th scope="col">Started On </th>
        <th scope="col">Completed On</th>
        <th scope="col">Running Status</th>
    </tr>
    </thead>
</table>
<script>
    $('#campaignTable').on("click", "tr", function () {
        let campaignID = $(this).children('td.campaignID').text();
        sessionStorage.setItem("campaignId",campaignID) ;
        window.location = "http://localhost:17131/AdminHome/CampaignDetails"
    })
</script>