@model MarketingManagement.WEBUI.Models.CampaignDetails

@{
    ViewData["Title"] = "Leads By Me";
}
<script>
$(document).ready(function () {
let user = sessionStorage.getItem("userSessionId")
    $.ajax({
                    type: "POST",
                    url: "http://localhost:25733/api/Executive/Leads/GetLeadsByMe?" + $.param({userId: user}),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (response) {
                        $.each(response, function (i, item) {
                            console.log(response);                
                            const dateApproached = new Date(Date.parse(item.dateApproached));
                            
                            const options = { day: 'numeric', month: 'long', year: 'numeric' }
                            
                            let row = '<tr><td class="leadID">'
                                + item.leadID + '</td><td>'
                                + item.campaignID + '</td><td>'
                                + item.consumerName + '</td><td>'
                                + item.emailAddress + '</td><td>'
                                + item.phoneNo + '</td><td>'
                                + item.preferredMoC + '</td><td>'
                                + dateApproached.toLocaleDateString('en-IN', options) + '</td><td>'
                                + item.productID + '</td><td>'
                                + item.status + '</td></tr>'
                            $('#leadsTable').append(row);
                        });
                    },
                    error: function () {
                        document.getElementById("leadError").style.display = "block"
                    }
                })
    });
</script>

<h1>Leads Assigned to you</h1>
<div class="alert alert-dismissible alert-info">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Click</strong> any Lead to follow up with it!
</div>
<div id="leadsList">
    <table class="table table-hover" id="leadsTable">
        <thead>
        <tr>
            <th scope="col">Lead ID</th>
            <th scope="col">Campaign ID</th>
            <th scope="col">Consumer Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Preffered Mode of Contact</th>
            <th scope="col">Date Approached</th>
            <th scope="col">Product ID</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody id="leadsTableBody"></tbody>
    </table>
</div>
<div class="alert alert-dismissible alert-danger" id="leadError" style="display: none">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    No results found!
</div>
<script>
    $('#leadsTable').on("click", "tr", function () {
        let leadID = $(this).children('td.leadID').text();
        sessionStorage.setItem("leadId",leadID) ;
        window.location = "http://localhost:17131/ExecutiveHome/LeadDetails"
    })
</script>