@model MarketingManagement.WEBUI.Models.CampaignDetails

@{
    ViewData["Title"] = "CloseCampaign";
    Layout = "~/Views/AdminHome/_Layout.cshtml";
}
<script>
    $(document).ready(function () {

        $("#createbtn").click(function () {
            var credentials = {
                "campaignId": $('#campaignId').val(),
            };
            $.ajax({
                type: "PUT",
                url: "http://localhost:25733/api/Admin/Campaign/Close/" + credentials,
                
                contentType: "application/json",
                success: function (response) {
                    alert("Success")
                },
                error: function () {
                    alert('Error')
                }
            })
        })
    })
</script>

<h1>Close Campaign</h1>

<h3>Are you sure you want to close this?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form>
                <fieldset>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="campaignId" class="control-label">Campaign ID</label>
                        <input asp-for="campaignId" class="form-control" />
                        <span asp-validation-for="campaignId" class="text-danger"></span>
                    </div>
                </fieldset>

            </form>

        </div>
    </div>
</div>

<form asp-action="CloseCampaign">
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>