@model MarketingManagement.WEBUI.Models.CampaignDetails

@{
    ViewData["Title"] = "OneCampaign";
    Layout = "~/Views/AdminHome/_Layout.cshtml";
}
<script>
    $(document).ready(function () {

        $("#createbtn").click(function () {
            let credentials = {
                "campaignId": $('#campaignId').val(),
            };
            $.ajax({
                type: "GET",
                url: "http://localhost:25733/api/Admin/Campaign/OneCampaign" + credentials,

                contentType: "application/json",
                success: function (response) {
                    alert("Success")
                },
                error: function () {
                    alert('Error')
                }
            })
        })
    })
</script>

<h1>One Campaign</h1>

<div>
    <h4>Campaign Details</h4>
    <hr />
    <div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form>
                    <fieldset>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CampaignId" class="control-label">Campaign ID</label>
                            <input asp-for="CampaignId" class="form-control" />
                            <span asp-validation-for="CampaignId" class="text-danger"></span>
                        </div>
                    </fieldset>

                </form>

            </div>
        </div>
    </div>
</div>
    <form asp-action="">
        <input type="submit" value="Search" class="btn btn-danger" /> |
        <a asp-action="Index">Back</a>
    </form>