@{
    ViewData["Title"] = "Privacy Policy";
}
<br/>
<h1>@ViewData["Title"]</h1>
<hr />
<h3>
    Copyrights
</h3>

<p>
    The contents of this website may not be reproduced partially or fully, 
    without due permission from <strong>XYZ</strong> Corporation. 
    The contents of this website can not be used in any misleading or 
    objectionable context. All contents of this website must remains within the
    Company.
</p>