@model LoginCredentials
@{
    ViewData["Title"] = "UserLogin";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
<script>
    $(document).ready(function () {

        $("#loginbtn").click(function () {
            let LoginId = $("#UserId").val()
            let Password = $("#Password").val()
            $.ajax({
                type: "POST",
                url: "http://localhost:25733/api/Users/Login",
                data: { "LoginId": LoginId, "Password": Password },
                success: function () {
                    alert('Success')
                },
                error: function () {
                    alert('Error')
                }
            })
        })
    })
</script>

<h1>Welcome!</h1>

<h4>Enter Credentials</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User ID</label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Login" class="btn btn-primary" id="loginbtn" />
            </div>
        </form>
    </div>
</div>