@model LoginCredentials
@{
    ViewData["Title"] = "UserLogin";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
<script>
    $(document).ready(function () {

        $("#loginbtn").click(function () {
            var credentials = {
                "loginID": $('#UserId').val(),
                "password": $('#Password').val()
            };
            $.ajax({
                type: "POST",
                url: "http://localhost:25733/api/Users/Login",
                data: JSON.stringify( credentials ),
                contentType: "application/json",    
                success: function (response) {
                    if (response == "Admin") {
                        window.location = "http://localhost:17131/AdminHome/Index"
                    }
                    else if (response == "Executive") {
                        window.location = "http://localhost:17131/ExecutiveHome/Index"
                    }
                },
                error: function () {
                    alert('Error')
                }
            })
        })
    })
</script>

<h1>Welcome!</h1>

<h4>Enter Credentials</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-floating">
                <input asp-for="UserId" class="form-control" id="UserId" placeholder="User ID"/>
                <label asp-for="UserId" class="control-label" for="UserId">User ID</label>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group form-floating">
                <input asp-for="Password" class="form-control" id="Password" placeholder="Password"/>
                <label asp-for="Password" class="control-label" for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="button" value="Login" class="btn btn-primary" id="loginbtn" />
            </div>
        </form>
    </div>
</div>