
@{
    ViewData["Title"] = "GetSales";
    Layout = "~/Views/ExecutiveHome/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "http://localhost:25733/api/Executive/Sales/GetSales",
            dataType: 'json',
            success: function (response) {
                $.each(response, function (i, item) {
                    console.log(response);
                    const date = new Date(Date.parse(item.createdOn));
                    const options = { day: 'numeric', month: 'long', year: 'numeric' }

                    let row = '<tr id="tabledata"><td class="orderID">'
                        + item.orderID + '</td><td>'
                        + item.leadID + '</td><td>'
                        + item.shippingAddress + '</td><td>'
                        + item.billingAddress + '</td><td>'
                        + date.toLocaleDateString('en-IN', options) + '</td><td>'
                        + item.paymentMode + '</td><td>'
                    $('#saleTable').append(row);
                });
            }
        })
    });
</script>

<h1>List of Sales</h1>

<table class="table table-hover" id="saleTable">
    <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Lead ID</th>
            <th scope="col">Shipping Address</th>
            <th scope="col">Billing Address</th>
            <th scope="col">Created On</th>
            <th scope="col">Payment Mode</th>
        </tr>
    </thead>
</table>
