@model MarketingManagement.WEBUI.Models.LeadsDetails

@{ ViewData["Title"] = "CreateLeads";
                Layout = "~/Views/ExecutiveHome/_Layout.cshtml"; }
<script>
    $(document).ready(function () {

        $("#createbtn").click(function () {
            var credentials = {
                "LeadId": $('#LeadId').val(),
                "CampaignId": $('#CampaignId').val(),
                "ConsumerName": $('#ConsumerName').val(),
                "EmailAddress": $('#EmailAddress').val(),
                "PhoneNo": $('#PhoneNo').val(),
                "DateApproached": $('#DateApproached').val(),
                "PreferredMoC": $('#PreferredMoC').val(),
                "Status": $('#Status').val(),
                "ProductId": $('#ProductId').val(),

            };
            $.ajax({
                type: "POST",
                url: "http://localhost:25733/api/Executive/Leads/Add",
                data: JSON.stringify(credentials),
                contentType: "application/json",
                success: function (response) {
                    alert("Success")
                },
                error: function () {
                    alert('Error')
                }
            })
        })
    })
</script>


<h1>CreateLeads</h1>

<h4>Leads Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateLeads">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LeadId" class="control-label"></label>
                <input asp-for="LeadId" class="form-control" />
                <span asp-validation-for="LeadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampaignId" class="control-label"></label>
                <input asp-for="CampaignId" class="form-control" />
                <span asp-validation-for="CampaignId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsumerName" class="control-label"></label>
                <input asp-for="ConsumerName" class="form-control" />
                <span asp-validation-for="ConsumerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredMoC" class="control-label"></label>
                <input asp-for="PreferredMoC" class="form-control" />
                <span asp-validation-for="PreferredMoC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateApproached" class="control-label"></label>
                <input asp-for="DateApproached" class="form-control" />
                <span asp-validation-for="DateApproached" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>