@model MarketingManagement.WEBUI.Models.LeadsDetails

@{
    ViewData["Title"] = "FollowLeads";
    Layout = "~/Views/ExecutiveHome/_Layout.cshtml";
}

<h1>Follow Lead</h1>


<div>

    <a asp-action="Index">Back to List</a>
</div>
