@{
    ViewData["Title"] = "AllUsers";
    Layout = "~/Views/AdminHome/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        let token = sessionStorage.getItem("JWT")
        $.ajax({
            type: "POST",
            url: "http://localhost:25733/api/Admin/User/GetAll",
            headers: {
                Authorization: 'Bearer ' + token
            },
            dataType: 'json',
            success: function (response) {
                $.each(response, function (i, item) {
                    console.log(response);
                    const date = new Date(Date.parse(item.dateOfJoin));
                    const options = { day: 'numeric', month: 'long', year: 'numeric' }
                    
                    let disc = item.discontinued === 1?"Discontinued":"On Job";
                    let userType = item.isAdmin === 1?"Administrator":"Marketing Executive";
                    
                    let row = '<tr id="tabledata"><td class="userID">'
                        + item.userID + '</td><td>'
                        + item.fullName + '</td><td>'
                        + item.loginID + '</td><td>'
                        + item.password + '</td><td>'
                        + date.toLocaleDateString('en-IN', options) + '</td><td>'
                        + item.address + '</td><td>'
                        + disc + '</td><td>'
                        + userType + '</td></tr>'
                    $('#userTable').append(row);
                });
            },
            error: function(response) {
              alert(response.statusText)
            }
        })
    });
</script>

<h1>List of Users</h1>
<div class="alert alert-dismissible alert-info">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Click</strong> any User to view it!
</div>
<table class="table table-hover" id="userTable">
    <thead>
    <tr>
        <th scope="col">User ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">Login ID</th>
        <th scope="col">Password</th>
        <th scope="col">Joining Date</th>
        <th scope="col">Address</th>
        <th scope="col">Discontinued</th>
        <th scope="col">Type of User</th>
    </tr>
    </thead>
</table>
<script>
    $('#userTable').on("click", "tr", function () {
        let userID = $(this).children('td.userID').text();
        sessionStorage.setItem("userId",userID) ;
        window.location = "http://localhost:17131/AdminHome/OneUser"
    })
</script>